@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header .offer {
    height: 40px;
    padding: 8px 15px;
    background-color: #1CD1B0;
}

header .banner {
    height: 70px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00669F;
    gap: 20px;
}

header .banner h1 {
    color: white;
    font-size: 60px;
}

main {
    position: absolute;
    left: 35%;
    top: 30%;
}

section.card-info {
    position: relative;
    width: 546px;
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 45px;
    
}

img.favorite {
    position: absolute;
    align-self: flex-start;
    top: 5px;
    left: 5px;
    margin: 10px;
    width: 30px;
    cursor: pointer;
}

img.card-icon {
    position: absolute;
    top: -80px;
    width: 159px;
    height: 159px;
    border-radius: 50%;
}

.card-info span {
    margin: 20px;
    text-align: center;
}

.card-info button {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 87px;
    width: 546px;
    color: #fff;
    font-size: 20px;
    background-color: #2C0187;
    border: none;
    border-radius: 0 0 45px 45px;
    cursor: pointer;
}

body {
    background-image: url(https://s3-alpha-sig.figma.com/img/5055/b6a0/4287309c581511998d161daaf1b42117?Expires=1656892800&Signature=MU2-zG6j3zT2j1M0SxKj5kqvAKyrJZ0301DYB0NgGVMbUIcPzxVoJS9L434pbYuiuW8FfsMzDhUsExvSfmef7NpM8Kjqzl6IGQ3v8fjOqQwK3YqdLkzxiivqZvuCIEu01IniYlJXD8u6ClsJar0B5ak3UvME8AOW1IsbDLnMlJ0tK~h6T8WmPEs~74Aq6R0GNFSl2351nXyzCBYmOEbhL6bowP2NWzdLQ2vtKAxmWTiNw9JVAK-393-sioFpKP1A0y6S-s3jj-lIzaQdqYJwkfC3UUj0lI905i2J6PW5TM3Et0Nl9B1O70QDA7hO6euQ05FopZ1eu-Z7Z-wHeFAopw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    object-fit: cover;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 60px;
    background-color: #00669F;
    width: 100vw;
}

footer h1 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}